{{ form_errors(form) }}
<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}"
      method="post" enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT">
        {% set editing = true %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.ci) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.nombre) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.apellido) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.direccion) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.licencia) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.telefono) }}
        </div>

        {{ form_widget(form._token) }}

        <div id="button_actions" class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm"
                    title="{{ (editing is not defined ? "actions.new" : "actions.edit")|trans }}">
                <i class="fa {{ editing is not defined ? "fa-save" : "fa-edit" }}"></i> {{ (editing is not defined ? "actions.new" : "actions.edit")|trans }}
            </button>
            <a class="btn btn-default btn-sm" href="{{ path("chofer_index") }}"
               title="{{ (editing is not defined ? "actions.cancel" : "actions.list")|trans }}">
                <i class="fa {{ editing is not defined ? " fa-remove" : " fa-chevron-left" }}"></i> {{ (editing is not defined ? "actions.cancel" : "actions.list")|trans }}
            </a>
        </div>
    </div>
</form>