{% extends '::base.html.twig' %}

{% block block('subheader') %}

{% block header 'user.label'|trans %}

{% block subheader 'user.show'|trans %}

{% block container -%}
    {%- embed '_smart_widget.html.twig' %}
        {% set config, collapse, refresh, remove = false, true, false, false %}
        {% block widgetheader %}
            {{ 'user.show'|trans }}
        {% endblock widgetheader %}

        {% block widgetbody %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>{{ 'user.username'|trans }}</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.email'|trans }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.lastLogin'|trans }}</th>
                            <td>{{ user.lastLogin ? user.lastLogin | date('d/m/Y h:i a') : '-' }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.isactive'|trans }}</th>
                            <td>
                                <i class="fa {{ user.enabled ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'user.rol.label'|trans }}</th>
                            <td>
                                {% for rol in user.roles %}
                                    {{ ('user.rol.' ~ rol|lower)|trans }}
                                    <br>
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12" id="button_actions">
                    <a class="btn btn-primary btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}"
                       title="{{ 'actions.edit'|trans }}">
                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}</a>
                    <a class="btn btn-default btn-sm" href="{{ path('user_index') }}"
                       title="{{ 'actions.list'|trans }}">
                        <i class="fa fa-chevron-left"></i> {{ 'actions.list'|trans }}</a>
                    <a data-id="{{ user.id }}" data-action="user_delete"
                       href="javascript:;" class="btn btn-danger btn-sm tooltips delete-selection"
                       data-container="body" title="{{ 'actions.delete'|trans }}">
                        <i class="fa fa-trash-o"></i> {{ 'actions.delete'|trans }}</a>
                </div>
            </div>
        {% endblock widgetbody %}
    {%- endembed %}
{% endblock %}
