<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="pull-left">
        <button class="btn btn-primary btn-sm" title="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"
                type="submit"><i class="fa fa-key"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
        </button>
        <a class="btn btn-default btn-sm" href="{{ path("homepage") }}"
           title="{{ 'actions.cancel'|trans({}, 'messages') }}">
            <i class="fa fa-close"></i> {{ "actions.cancel"|trans({}, 'messages') }}
        </a>
    </div>
</form>
