{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group m-bottom-md">
        <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" id="username"
               name="_username" value="{{ last_username }}" required="required"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password"
               name="_password" required="required"/>
    </div>

    <div class="form-group">
        <div class="custom-checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me"></label>
        </div>
        {{ 'security.login.remember_me'|trans }}
    </div>

    <div class="m-top-md p-top-sm">
        <a href="#signin" class="btn btn-success block"><i
                    class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</a>
        {#<button type="submit" class="btn btn-success btn-block"><i#}
        {#class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>#}
    </div>

    {#<div class="m-top-md p-top-sm">#}
    {#<div class="font-12 text-center m-bottom-xs">#}
    {#<a href="#" class="font-12">Forgot password ?</a>#}
    {#</div>#}
    {#<div class="font-12 text-center m-bottom-xs">Do not have an account?</div>#}
    {#<a href="signup.html" class="btn btn-default block">Create an accounts</a>#}
    {#</div>#}
</form>
