{% extends '::base.html.twig' %}

{% block block('subheader') %}

{% block header 'car.label'|trans %}

{% block subheader 'car.list'|trans %}

{% block container -%}
    {%- embed '_smart_widget.html.twig' %}
        {% set config, collapse, refresh, remove = true, true, false, false %}
        {% block widgetheader %}
            {{ 'car.list'|trans }}
        {% endblock widgetheader %}

        {% block hidden_option_icon '<i></i>' %}

        {% block widgetbody %}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-sm" href="{{ path('carro_new') }}">
                        <i class="fa fa-plus-circle"></i> {{ 'actions.add'|trans }}
                    </a>
                </div>
                <div class="col-md-12 separator-index">
                    <table class="table table-striped table-hover" id="table-datatable">
                        <thead>
                        <tr>
                            <th>{{ 'car.code'|trans }}</th>
                            <th>{{ 'car.brand'|trans }}</th>
                            <th>{{ 'car.consumn'|trans }}</th>
                            <th>{{ 'car.type'|trans }}</th>
                            <th>{{ 'car.state'|trans }}</th>
                            <th>{{ 'car.section'|trans }}</th>
                            <th>{{ 'car.driver'|trans }}</th>
                            <th>{{ 'car.card'|trans }}</th>
                            <th>{{ 'actions.label'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for carro in carros %}
                            <tr>
                                <td>
                                    {{ carro.matricula|default('-') }}
                                </td>
                                <td>{{ carro.modelo|default('-') }}</td>
                                <td>{{ carro.indcons|default('-') }}</td>
                                <td>{{ carro.tipo|default('-') }}</td>
                                <td>{{ carro.estado|default('-') }}</td>
                                <td>{{ carro.area|default('-') }}</td>
                                <td>{{ carro.chofer|default('-') }}</td>
                                <td>{{ carro.tarjeta|default('-') }}</td>
                                <td>
                                    <a class="btn btn-default btn-sm"
                                       href="{{ path('carro_show', { 'id': carro.id }) }}"
                                       title="{{ 'actions.show'|trans }}">
                                        <i class="fa fa-eye"></i> {{ 'actions.show'|trans }}</a>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('carro_edit', { 'id': carro.id }) }}"
                                       title="{{ 'actions.edit'|trans }}">
                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}</a>
                                    <a data-id="{{ carro.id }}" data-action="carro_delete"
                                       href="javascript:;" class="btn btn-danger btn-sm tooltips delete-selection"
                                       data-container="body" title="{{ 'actions.delete'|trans }}">
                                        <i class="fa fa-trash-o"></i> {{ 'actions.delete'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock widgetbody %}
    {%- endembed %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-datatable').DataTable();
        });
    </script>
{% endblock %}